@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
  background: cyan;
  font-weight: 500;
}
header {
  margin: 0 32px;
}
ol {
  display: flex;
  list-style-type: none;
}
li {
  padding: 0 32px 0 0;
}
a {
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 18px;
}
p {
    
}